body{
    width: 100vw;
    margin: 0;
    padding: 0;
    /* background-image: url(./img/bg1.avif); */
    background-repeat: no-repeat;
   background-size: cover;
    animation-name: identifiers;
    animation-duration: 50s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:  infinite;
}
@keyframes identifiers {
    0% { background-image: url(./img/bg1.avif);}
    50% { background-image: url(./img/bg2.avif);}
    100% { background-image: url(./img/bg1.avif);}
}
h1{
    width: 100vw;
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}
.fa-solid{
    color: white;
    font-size: 20px;
}
span{
    width: 100vw;
    font-size: 20px;
    margin-left: 38vw;
}
#input-section{
    
}
.mainDivInput{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.divInput{
    margin: 15px;
    text-align: center;
    width: 10vw;
    height: 200px;
    border: 1px solid rgb(246, 243, 243);
    padding: 0px 5px 10px 0px ;
    background-color:rgb(38,167,229, 0.5);
}
.imgInput{
    margin-left: 8px;
    margin-top: -35px;
} 
.h3Input {
    text-align: center;
}
.pCInput {
    margin-top: -25px;
    text-align: center;
}
.pInput {
    margin-top: -5px;
    text-align: center;
}
 
.ppInput {
    margin-top: -5px;
    text-align: center;
}
.windp{
    font-size: 15px;
    -webkit-transform:;
}